<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leave</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <h1>Before you leave...</h1>
    <h2> Read a few of these sections</h2>
    <div class="vox-cardstack"><a href="http://www.vox.com/cards/global-warming">Global warming, explained</a></div>
    <script src="//embed.vox.com/cardstack.js"></script>

    <h2> <a href="/">Home</a></h2>
    <h2> <a href="/about">About</a></h2>
  </body>
</html>
